body{
margin:0px;
}

#header{
height:40px;
background-color:#ffccc5;
font-size:22pt;
font-weight:bold;
}

output{
font-family:sans-serif;
font-size:16pt;
}

.status{
font-style:italic;
font-weight:bold;
}

.scroll{

}

#player{
position:relative;
left:30px;
width:32px;
height:32px;
background-image:url('images/player.png');
background-position:128px 0px;
}

#gameFrame{
background-image:url('images/bg.png');
}

#roof{
background-image:url('images/floor-1.png');
width:400px;
height:10px;
top:-5px;
}

#floor{
background-image:url('images/floor1.png');
width:400px;
height:10px;
top:240px;
position:relative;
}

.block{
position:fixed;
background-image:url('images/block2.png');
width:16px;
}

.bullet{
position:fixed;
background-image:url('images/bullet.png');
width:8px;
height:8px;
}